div.card-container {
    /* background:linear-gradient(to bottom right, #d6d6d6, var(--grey), #d6d6d6);*/
    background: radial-gradient(farthest-corner at 0 0, #d6d6d6, var(--grey) 50%),
                radial-gradient(farthest-corner at 100% 100%, #d6d6d6, var(--grey));

                background-blend-mode: overlay;

    width: 350px;
    height: 350px;
    border-radius:.5em;
    box-shadow: 0 0 25px black;
}