:root {
  --blue: #102236;
  --grey: #848584;
}

* {
  overflow-x:hidden;
  scroll-behavior: smooth;
}

.bg-container {
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  /* background-color:red; */
}

.bg-gradient {
  background-color: var(--blue);
  background-image: radial-gradient(farthest-corner at 0 70%, #e0e0e081, var(--blue)),
                    radial-gradient(farthest-corner at 100% 0, #e0e0e065, var(--blue));
  background-blend-mode: soft-light;

  position:absolute;

  width:100%;
}

.bg-container .content {
  z-index:100;
  padding-top:100px;
  width:100vw;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-evenly;
}
